.nav-menu{
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    border:2px solid #86ed82;
    background-color:#86ed82;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
}
/* bg- #b488db */

.nav-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #1a023b;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
  }

.nav-header{
    border: 1px solid #b488db;
    margin-left: 10px;
    margin-right:10px;
    background-color:#86ed82;
}
