.user-details-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c3dee3;
    min-height: 500px;
    padding: 10px;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-details-button{
    width: 200px;
    height: 35px;
    color: #1a023b;
    font-weight: bold;
    font-size: 20px;
    background-color: #1be042;
    border-radius: 5px;
}

.user-count{
    color:#1a023b;
    font-weight: bold;
    font-size: 20px;
}

.find-user-heading{
    color: #1a023b;
}
.instruction-text{
    color: #1a023b;
    font-weight: bold;
}