.user-container{
    display:flex;
    flex-direction:column;
    /* align-items:flex-start; */
    justify-content:flex-start;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: #dcd5e6;
    margin-top: 10px;
    border-radius: 10px;
}

.image-size{
    height:150px;
    width: 200px;
}

.name-heading{
    color: #1a023b;
    font-style: italic;
    font-size: 18px;
}

.mobile-heading{
    color:#1a023b;
    font-style: italic;
    font-size: 18px;
}

.date-heading{
    color:#1a023b;
    font-style: italic;
    font-size: 18px;
}

.user-not-found-heading{
    color:#e4ecf5;
    font-style: italic;
    font-size: 25px;
}

.image-container{
    display: flex;
    justify-content: center;

}