.input-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    margin-left:10px;
    margin-right: 10px;
    background-color: #222426;
    height: 500px;
    border-top:3px solid #e4ecf5;
    
}

/* bg- #d0bae3 */

.input-element{
    width: 350px;
    height: 40px;
    margin: 10px;
    border:2px solid;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding-left:5px ;
    
}

@media all and (max-width:576px) {
    .input-element{
        width: 250px;
    }
}

.heading{
    color:#e4ecf5;
    font-style: italic;
}

.button-style{
    width: 350px;
    height: 40px;
    margin: 10px;
    background-color: #1be042;
    border-radius: 10px;
}

.input-file{
    height: 30px;
    color:#e4ecf5;
}


.upload-button-style{
    height: 35px;
    width: 213px;
    color:#e4ecf5;
    border: 3px solid #e4ecf5;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    background-color: #222426;
}

.user-details-upload-status{
    color:#e4ecf5;
    font-weight: bold;
    font-style: italic;
}

label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
    border: 1px solid #1a023b;
    margin-top: 10px;
    padding: 6px;
    width: 200px;
    border-radius: 5px;
    color: #e4ecf5;
    font-weight: bold;
    background-color: #222426;
    font-style: italic;
    border: 3px solid #e4ecf5;
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .form{
    margin-top: 15px;
 }

 .warning-text{
    color:#e4ecf5;
 }